td {
    text-align: center;
    color: white;
    width: 10%;
}
#d1 {
    background-color: blue;
    padding: 50px;
}
.c2 {
    background-color: brown;
    padding: 50px;
}
.c3 {
    background-color: black;
    padding: 50px;
}
.c4 {
    background-color: yellow;
    padding: 50px;
    color: black;
}
.c5 {
    background-color: grey;
    padding: 50px;
}
.c6 {
    background-color: darkgreen;
    padding: 40px;
}
.c7 {
    background-color: orange;
    padding: 50px;
}
.c8 {
    background-color: darksalmon;
    padding: 30px;
}
.c9 {
    background-color: darkseagreen;

}
.c10 {
    background-color: violet;
    padding: 50px;
}
.c11 {
    background-color: pink;
}
.c12 {
    background-color: green;
}
table,td,tr{
    border: 1px solid black;
}
.c13 {
    background-color: chocolate;
    padding: 50px;
}
.c14 {
    background-color: cornflowerblue;
}
.c15 {
    background-color: coral;
}
div {
    background-color: skyblue;
    padding: 1px;
}